{% extends 'base.html' %}
{% load static %}

{% block cartooncontent %}

    <main id="main">
        <br>
        <br>
        <br>

        <div style="background: white; padding-left: 20px; padding-right: 20px">
            <h3 align="center" style=""><br></br><b>Graphic Design</b><br></h3>
            <br>

            <p>
                Our graphic design team has many years of experience in the field. It has handled professionally
                different graphic design tasks but not limited to:
            </p>

            <ul>
                <li>Comic books</li>
                <li>Magazines</li>
                <li>Comic strips</li>
                <li>Computer Animations</li>
            </ul>

            <p>
                Our team also extends its services and expertise to other organisations, such as the World Bank, the
                International Criminal Court, the United Nations Population Fund, Care International, and the United
                Nations Organization.
            </p>

            <p>
                Kata Kata African Cartoons has established several graphic design hubs in different countries to teach
                graphic design skills, empower youths in those locations, and create jobs for the betterment of society.
            </p>


            <br>
        </div>
        <br>
        <br>
        <br>
        <br>


    </main><!-- End #main -->

{% endblock %}