{% extends 'base.html' %}
{% load static %}
{% block cartooncontent %}

<br>
<br>
<br>
<br>


<div class="w3-content w3-section" style="height: auto; margin-left: 0px; margin-right: 0px">

    <div class="mycontainer">

       {% comment %} <div class="btn">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p
                    class="blink"
                    style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">
                Download Android App</p></a>
            {#            <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
            {#                    class="blink"#}
            {#                    style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
            {#                Download Ios App</p></a>#}
        </div>{% endcomment %}

        {% for value in summary.sliderimages.values %}
            <img class="mySlides" src="{{ value.image }}" style="width:100%; height: auto; max-height: 550px">
        {% endfor %}

    </div>

</div>


<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 19000); // Change image every 2 seconds
    }
</script>

{#<section style="width: 100%" id="hero">#}
{#    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">#}
{##}
{#        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>#}
{##}
{#        <div class="carousel-inner" role="listbox">#}
{##}
{#            <!-- Slide 2 -->#}
{#            <div class="carousel-item active"#}
{#                 style="background-image: url('https://firebasestorage.googleapis.com/v0/b/katakata-cb1db.appspot.com/o/images%2Fsliderimages%2F1646276532?alt=media&token=ba9771ba-d47b-40d4-9ca5-cf21157cb6f1')">#}
{#                <div class="carousel-container">#}
{#                    <div class="container">#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Android App</p></a>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Ios App</p></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Slide 2 -->#}
{#            <div class="carousel-item"#}
{#                 style="background-image: url('https://firebasestorage.googleapis.com/v0/b/katakata-cb1db.appspot.com/o/images%2Fsliderimages%2F1646276516?alt=media&token=63e4469c-bfe0-49e1-a610-3351952510b9')">#}
{#                <div class="carousel-container">#}
{#                    <div class="container">#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Android App</p></a>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Ios App</p></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Slide 2 -->#}
{#            <div class="carousel-item"#}
{#                 style="background-image: url('https://firebasestorage.googleapis.com/v0/b/katakata-cb1db.appspot.com/o/images%2Fsliderimages%2F1646276499?alt=media&token=3e0cc4bd-4791-4666-9e01-c015bff1ab20')">#}
{#                <div class="carousel-container">#}
{#                    <div class="container">#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Android App</p></a>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Ios App</p></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{##}
{#                 <!-- Slide 2 -->#}
{#            <div class="carousel-item active">#}
{#                <img class="responsive" src="{% static 'assets/img/five.jpeg' %}">#}
{#                <div class="carousel-container">#}
{#                    <div class="container">#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Android App</p></a>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Ios App</p></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Slide 2 -->#}
{#            <div class="carousel-item"#}
{#                 style="background-image: url({% static 'assets/img/six.jpeg' %})">#}
{#                <div class="carousel-container">#}
{#                    <div class="container">#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Android App</p></a>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Ios App</p></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Slide 2 -->#}
{#            <div class="carousel-item"#}
{#                 style="background-image: url('{% static 'assets/img/seven.jpeg' %}')">#}
{#                <div class="carousel-container">#}
{#                    <div class="container">#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Android App</p></a>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Ios App</p></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#                        <!-- Slide 2 -->#}
{#            <div class="carousel-item"#}
{#                 style="background-image: url('{% static 'assets/img/eight.jpeg' %}')">#}
{#                <div class="carousel-container">#}
{#                    <div class="container">#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <br>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Android App</p></a>#}
{#                        <a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US"><p#}
{#                                class="blink"#}
{#                                style="background-color: red; width: 260px; font-size: 20px; border-radius: 20px; color: white">#}
{#                            Download Ios App</p></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{##}
{##}
{#        </div>#}
{##}
{#        <div>#}
{#            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">#}
{#                <span style="background-color: black" class="carousel-control-prev-icon bi bi-chevron-left"#}
{#                      aria-hidden="true"></span>#}
{#            </a>#}
{##}
{#            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">#}
{#                <span style="background-color: black" class="carousel-control-next-icon bi bi-chevron-right"#}
{#                      aria-hidden="true"></span>#}
{#            </a>#}
{#        </div>#}
{##}
{#    </div>#}
{#</section><!-- End Hero -->#}


<main id="main">

    <br>
    <br>
    <br>

    <!-- Tab links -->
    <div align="center">
        <div class="tab" style="background: #F58634">
            <button style="color: white; font-size: 15px" onclick="openCity(event, 'tabvideos')">VIEW VIDEOS</button>
            <button style="color: white; font-size: 15px" onclick="openCity(event, 'tabcomics')">READ COMICS</button>
            <button style="color: white; font-size: 15px" onclick="openCity(event, 'tabmagazines')">READ MAGAZINES
            </button>
        </div>
    </div>


    <!-- Tab content -->
    <div id="tabvideos" class="tabcontent">

        <div class="row tm-row">

            {#        https://vimeo.com/692118423#}

            {% for value in summary.androidvideos.values %}

                <article style="padding: 40px" class="col-12 col-md-6 tm-post">
                    <div style="" class="card">
                        <a href="{% url 'videoviewer' video=value.name position=0 %}">
                            <div align="center">
                                <img height="200" src="{{ value.image }}" alt="Avatar"
                                     style="width:100%; max-width: 350px; margin-top: 20px">
                                <div class="container">
                                    <br>
                                    <h6 style="color: red"><b>{{ value.name }}</b></h6>
                                    {#                            <p>Architect & Engineer</p>#}
                                    {#                            <p>Architect & Engineer</p>#}
                                </div>
                            </div>
                        </a>
                    </div>
                </article>

            {% endfor %}



            <article style="padding: 40px" class="col-12 col-md-6 tm-post">
                <div style="" class="card">
                    <a href="{% url 'viewsamplevideos' %}">
                        <div align="center">
                            <img height="200"
                                 src="https://storage.googleapis.com/katakata-cb1db.appspot.com/images/videos/1648288194"
                                 alt="Avatar"
                                 style="width:100%; max-width: 350px; margin-top: 20px">
                            <div class="container">
                                <br>
                                <h6 style="color: red"><b>WATCH OUR VIDEO SAMPLES</b></h6>
                                {#                            <p>Architect & Engineer</p>#}
                                {#                            <p>Architect & Engineer</p>#}
                            </div>
                        </div>
                    </a>
                </div>
            </article>


        </div>

    </div>

    <script>
        document.getElementById('tabvideos').style.display = "block";
    </script>

    <div id="tabcomics" class="tabcontent">


        <br>
        <br>
        <h4 style="color: black; font-weight: bold" align="center">Long Comics</h4>

        <u><a style="width: 100%; margin-right: 10px" href="{% url 'satlongcomics' %}">
            <div align="right">
                <h6 style="color: red; width: 100%"><b>Read Our Long Comic Samples</b></h6>
            </div>
        </a></u>

        <div class="longcomicswraper">

            {% for value in summary.loadlongcomics.values %}

                <div class="item">

                    <article style="padding: 40px; width: 100%" class="col-12 col-md-6 tm-post">
                        <div style="padding: 20px" class="card">
                            <a href="{{ value.url }}">
                                <div align="center">
                                    <img height="450" src="{{ value.image }}" alt="Avatar"
                                         style="width:400px; max-width: 350px; margin-top: 20px">
                                    <div class="container">
                                        <br>
                                        <h6 style="color: red"><b>{{ value.name }}</b></h6>
                                        {#                            <p>Architect & Engineer</p>#}
                                        {#                            <p>Architect & Engineer</p>#}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>

                </div>
            {% endfor %}


            <div class="empty"></div>
        </div>


        <br>
        <br>
        <h4 style="color: black; font-weight: bold" align="center">Short Comics</h4>

        <div class="shortcomicswraper">

            {% for value in summary.conthumournames.values %}

                <div class="item">

                    <article style="padding: 40px; width: 100%" class="col-12 col-md-6 tm-post">
                        <div style="padding: 20px" class="card">
                            <a href="{% url 'shortcomicsviewer' shortcomic=value.name %}">
                                <div align="center">
                                    <img height="200" src="{{ value.image }}" alt="Avatar"
                                         style="width:400px; height: 250px; max-width: 350px; margin-top: 20px">
                                    <div class="container">
                                        <br>
                                        <h6 style="color: red"><b>{{ value.name }}</b></h6>
                                        {#                            <p>Architect & Engineer</p>#}
                                        {#                            <p>Architect & Engineer</p>#}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>

                </div>
            {% endfor %}

            <div class="empty"></div>

        </div>


        <br>
        <br>
        <h4 style="color: black; font-weight: bold" align="center">Single Comics</h4>

        <div class="singlecomicswraper">

            {% for value in summary.loadmoresinglecomics.values %}

                <div class="item">

                    <article style="padding: 40px; width: 100%" class="col-12 col-md-6 tm-post">
                        <div style="padding: 20px" class="card">
                            <a href="{% url 'imageviewer' theimage=value.image %}">
                                <div align="center">
                                    <img height="200" src="{{ value.image }}" alt="Avatar"
                                         style="width:400px; height: 250px; max-width: 350px; margin-top: 20px">
                                    <div class="container">
                                        <br>
                                        <h6 style="color: red"><b>{{ value.name }}</b></h6>
                                        {#                            <p>Architect & Engineer</p>#}
                                        {#                            <p>Architect & Engineer</p>#}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>

                </div>
            {% endfor %}

            <div class="empty"></div>

        </div>

    </div>

    <div id="tabmagazines" class="tabcontent">

        <div class="row tm-row">

            {% for value in summary.allmagazines.values %}

                <article style="padding: 40px" class="col-12 col-md-6 tm-post">
                    <div style="" class="card">
                        <a href="{{ value.url }}">
                            <div align="center">
                                <img height="200" src="{{ value.image }}" alt="Avatar"
                                     style="width:100%; height: 350px; max-width: 250px; margin-top: 20px">
                                <div class="container">
                                    <br>
                                    <h6 style="color: red"><b>{{ value.name }}</b></h6>
                                    {#                            <p>Architect & Engineer</p>#}
                                    {#                            <p>Architect & Engineer</p>#}
                                </div>
                            </div>
                        </a>
                    </div>
                </article>


            {% endfor %}


            <article style="padding: 40px" class="col-12 col-md-6 tm-post">
                <div style="" class="card">
                    <a href="{% url 'satmagazines' %}">
                        <div align="center">
                            <img height="200"
                                 src="https://firebasestorage.googleapis.com/v0/b/katakata-cb1db.appspot.com/o/images%2Fmagazines%2F1642876778?alt=media&token=b68c9a5c-2a9a-4d25-9111-052535e32e4d"
                                 alt="Avatar"
                                 style="width:100%; max-width: 350px; margin-top: 20px">
                            <div class="container">
                                <br>
                                <h6 style="color: red"><b>VIEW ALL MAGAZINES</b></h6>
                                {#                            <p>Architect & Engineer</p>#}
                                {#                            <p>Architect & Engineer</p>#}
                            </div>
                        </div>
                    </a>
                </div>
            </article>

        </div>
    </div>

    <!-- ======= About Section ======= -->
    {#    <section id="about" class="about">#}
    {#        <div class="container">#}
    {##}
    {#            <div class="row content">#}
    {#                <div class="col-lg-6">#}
    {#                    <h3><b><strong>OBJECTIVES</strong></b></h3>#}
    {#                    <h4>Our team at Kata Kata is driven with the desire to achieve the following among others#}
    {#                        :</h4><br>#}
    {#                    <img width="370px" height="120px" src="{% static 'assets/img/logolast.png' %}" class="img-fluid"#}
    {#                         alt="Kata Kata">#}
    {#                </div>#}
    {#                <div class="col-lg-6 pt-4 pt-lg-0">#}
    {#                    <ul>#}
    {#                        <br>#}
    {#                        <li><i class="ri-check-double-line"></i> To discuss and disseminate typical African / global#}
    {#                            social problems.#}
    {#                        </li>#}
    {#                        <li><i class="ri-check-double-line"></i> Using our content (cartoons, illustrated stories,#}
    {#                            animated videos, magazine), we send important messages across in an educational, informative#}
    {#                            and yet, humorous manner.#}
    {#                        </li>#}
    {#                        <li><i class="ri-check-double-line"></i> We offer therapy for problems through comic content.#}
    {#                        </li>#}
    {#                        <br>#}
    {#                        <li><i class="ri-check-double-line"></i> To carefully create our content in a way that it is#}
    {#                            understood by both educated and non-educated readers so that it can reach the grass-root#}
    {#                            level..#}
    {#                        </li>#}
    {#                        <li><i class="ri-check-double-line"></i> To send our core messages across to the grass-roots; we#}
    {#                            achieve this by adding local language, slang and phrases, aimed at behavioural changes.#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                </div>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </section><!-- End About Section -->#}


    <!-- ======= Clients Section ======= -->
    {#    <section id="clients" class="clients section-bg">#}
    {#        <div class="container">#}
    {##}
    {#            <div class="row">#}
    {#                <h1 style="color: black">Mission!</h1>#}
    {#                <p class="animate__animated animate__fadeInUp">We use our humorous but educational content to#}
    {#                    sensitize social problems and harmful practices that hinder development in the society; by#}
    {#                    so doing, we create attitudinal changes amongst the target groups</p>#}
    {#            </div>#}
    {##}
    {#        </div>#}
    {#    </section><!-- End Clients Section -->#}


    <section id="pricing" class="pricing">
        <div class="container">

            <div class="row">

                {#                {% for value in summary.latestvideo.values %}#}
                <div class="col-lg-3 col-md-6">
                    {#                        <div class="box">#}
                    {#                            <h3 style=color:red;><b><strong>VIDEOS</strong></b></h3>#}
                    {#                            <img src="{{ value.image }}" height="200px">#}
                    {#                            <br>#}
                    {#                            <br>#}
                    {#                            <br>#}
                    {#                            <ul>#}
                    {#                                <li>{{ value.name }}</li>#}
                    {#                            </ul>#}
                    {#                            <div class="btn-wrap">#}
                    {#                                <a href="https://katakata.org/videos" class="btn-buy">Watch More</a>#}
                    {#                            </div>#}
                    {#                        </div>#}
                </div>
                {#                {% endfor %}#}

                {% for value in summary.latestnewsone.values %}
                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <h3 style=color:red;><b><strong>NEWS</strong></b></h3>
                            <img src="{{ value.image }}" height="200">
                            <br>
                            <br>
                            <br>
                            <ul>
                                <li>{{ value.name }}</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href={% url "newspage" %} class="btn-buy">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#                {% for value in summary.latestcartoon.values %}#}
                {#                    <div class="col-lg-3 col-md-6">#}
                {#                        <div class="box">#}
                {#                            <h3 style=color:red;><b><strong>CARTOONS</strong></b></h3>#}
                {#                            <img src="{{ value.image }}" height="200">#}
                {#                            <br>#}
                {#                            <br>#}
                {#                            <br>#}
                {#                            <ul>#}
                {#                                <li>{{ value.name }}</li>#}
                {#                            </ul>#}
                {#                            <div class="btn-wrap">#}
                {#                                <a href={% url "cartoonspage" %} class="btn-buy">Read More</a>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endfor %}#}

                {#                {% for value in summary.latestmagazine.values %}#}
                <div class="col-lg-3 col-md-6">
                    {#                        <div class="box">#}
                    {#                            <h3 style=color:red;><b><strong>MAGAZINES</strong></b></h3>#}
                    {#                            <img src="{{ value.image }}" height="200px">#}
                    {#                            <br>#}
                    {#                            <br>#}
                    {#                            <br>#}
                    {#                            <ul>#}
                    {#                                <li>{{ value.name }}</li>#}
                    {#                            </ul>#}
                    {#                            <div class="btn-wrap">#}
                    {#                                <a href="#tabmagazines" class="btn-buy">Read More</a>#}
                    {#                            </div>#}
                    {#                        </div>#}
                </div>
                {#                {% endfor %}#}


            </div>
        </div>
    </section><!-- End Pricing Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="cartoontarget" class="portfolio">
        <div class="container">

            {% comment %}<a target="_blank" href="https://play.google.com/store/apps/details?id=techkaita.katakata&hl=en&gl=US">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <h5 style="background: #515d6a; color: white; padding: 5px" data-filter="*"
                                class="filter-active">Download Kata Kata Android App Now
                            </h5>
                        </ul>
                    </div>
                </div>
            </a>{% endcomment %}

            {#Magazines Section#}
            {#            <section id="pricing" class="pricing">#}
            {#                <div class="container">#}
            {##}
            {#                    <div class="row">#}
            {##}
            {#                        <div class="col-lg-3 col-md-6">#}
            {#                        </div>#}
            {##}
            {#                        {% for value in summary.loadmagazines.values %}#}
            {##}
            {#                            <div class="col-lg-3 col-md-6">#}
            {#                                <div class="box">#}
            {#                                    <h3 style="color:red;"><b><strong>{{ value.name }}</strong></b></h3>#}
            {#                                    <img src="{{ value.image }}" height="200px">#}
            {#                                    <br>#}
            {#                                    <br>#}
            {#                                    <br>#}
            {#                                    <ul>#}
            {#                                        <li>{{ value.name }}</li>#}
            {#                                    </ul>#}
            {#                                    <div class="btn-wrap">#}
            {#                                        <a href="{% url 'pdfviewerpage' thepdf=value.url %}" class="btn-buy">Read</a>#}
            {#                                        <a href="{{ value.url }}" class="btn-buy">Read</a>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        {% endfor %}#}
            {##}
            {#                        <div class="col-lg-3 col-md-6">#}
            {#                        </div>#}
            {##}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {#            </section><!-- End Magazine Section -->#}


        </div>


    </section><!-- End Portfolio Section -->

</main><!-- End #main -->




{% endblock %}