{% extends 'base.html' %}
{% load static %}

{% block cartooncontent %}

    <main id="main">
    <br>
    <br>
    <br>

        <div style="background: white; padding-left: 20px; padding-right: 20px">
            <h3 align="center" style=""><br></br><b>Marketing</b><br></h3>
            <br>
            <p style="font-size: 17px">A product is nothing unless customers are attracted to it, enabling the owner to generate revenue. That calls for a clear and well-thought-out marketing strategy that involves research, promotion, and distribution of the product or service aimed at making a profit. We promote solid brand awareness and create leads, which can translate into sales. Using different marketing strategies such as digital marketing (Eg. through TikTok, Facebook, Instagram, YouTube, Google, website, etc.), content marketing, referral programs, influencer marketing, hosting live events, and inbound and outbound marketing etc, we create overviews of how our client will articulate its value proposition to its customers. With a sound market strategy, we provide our clients with a long-term view of overall marketing efforts, enabling them to look many years ahead and position their products in a favourable place amongst customers.
.</p><br>
        </div>
    <br>
    <br>
    <br>
    <br>


    </main><!-- End #main -->

{% endblock %}