{% extends 'cartoonbase.html' %}
{% load static %}

{% block cartooncontent %}
    <div class="container-fluid">
        <main class="tm-main">
            <br>
            <p style="font-size: 20px; margin-left: 20px; color: black">PROVERBS</p>

            <div class="row tm-row">

                {% for value in summary.loadproverbs.values %}

                    <article class="col-12 col-md-6 tm-post">
                        <div style="" class="card">

                            <h2 style="background: black; color: white; padding: 10px; "
                                class="tm-pt-30 tm-color-primaryb tm-post-title">{{ value.name }}</h2>
                            <br>

                            <a href="{% url 'imageviewer' theimage=value.image %}">
                                <img width="450" height="300" src="{{ value.image }}" alt="Avatar" style="width:100%">
                            </a>

                            <div class="container">
                                <br>
                                <h6 style="color: red"><b>{{ value.name }}</b></h6>

                                <p style="font-size: 15px;  color: black" class="tm-pt-30">
                                <p>
                                    {{ value.description | safe | urlize  }}
                                </p>

                            </div>
                        </div>
                    </article>


                {% endfor %}


            </div>


        </main>
    </div>

{% endblock %}