{% extends 'cartoonbase.html' %}
{% load static %}

{% block cartooncontent %}
    <div class="container-fluid">
        <main class="tm-main">
            <br>
            <p style="font-size: 20px; color: black; margin-left: 20px">SOCIAL PROBLEMS</p>

            <div class="row tm-row">

                {% for value in summary.loadsocialproblems.values %}

                    <article class="col-12 col-md-6 tm-post">
                        <div style="" class="card">

                            <h2 style="background: black; color: white; padding: 10px; "
                                class="tm-pt-30 tm-color-primaryb tm-post-title">{{ value.name }}</h2>
                            <br>

                            <a target="_blank"
                               onclick="openFullscreen('{{ value.image }}')">
                                <img width="600" height="330" src="{{ value.image }}" alt="Avatar" style="width:100%">
                            </a>

                            <script>
                                function openFullscreen(imageUrl) {
                                    window.open(imageUrl, '_blank', 'fullscreen=yes');
                                }
                            </script>


                            <div class="container">
                                <br>
                                <h6 style="color: red"><b>{{ value.name }}</b></h6>
                                <p style="font-size: 15px; color: black" class="tm-pt-30">
                                    {{ value.description | safe }}
                                </p>
                            </div>

                        </div>
                    </article>


                {% endfor %}

            </div>

        </main>
    </div>

{% endblock %}