{% load static %}
{% if message %}
    <script>
        alert('{{message}}')
    </script>f
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Team | Contact</title>
    <!--

    https://templatemo.com/tm-520-highway

    -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'assets/img/small.png' %}" rel="icon">
    <link href="{% static 'assets/img/small.png' %}" rel="apple-touch-icon">

    <link rel="stylesheet" href="{% static 'assets/one/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/light-box.css' %}">
    <link rel="stylesheet" href="{% static 'assets/one/css/templatemo-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="{% static 'assets/one/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>

<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1>Our Team <em></em></h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
</div>


<div class="">
    <br>
    <br>
    <br>
    <div align="center">
        <button id="modBtn" class="modal-btn" style="background-color: black; color: white; width: 260px">Contact
            Us<em></em></button>
        <button onclick="history.back()" class="modal-btn" style="background-color: black; color: white; width: 260px">
            Home<em></em></button>
        <br>
        <br>
        <br>
    </div>

    <div class="container">

        {% for value in summary.positions %}

            <div align="center" class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div align="center" class="icon">
                        <img src="{% static 'assets/img/person.png' %}" alt="">
                    </div>
                    <div class="text">
                        <h4>{{ value.title }}</h4>

                        {% for value in value.employee.values %}
                            <p>{{ value.name }}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
    <br>
    <br>
    <br>
</div>


<div style="background: #313131; padding: 30px; margin-left: 70px; margin-right: 70px;" class=>
    <div class="">
        <div class="">
            <div class="content">
                <h2 style="color: white" align="center">At Kata Kata:</h2>
                <div align="center">
                    <p style="color: white">We use our humorous but educational content to sensitize social problems and
                        harmful practices that
                        hinder development in the society; by so doing, we create attitudinal changes amongst the target
                        groups.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pricing-tables">

    <h3 align="center" style="color: black">Our Columnists</h3>

    <div class="container">


        {% for value in summary.columnists %}

            {% if "Liam Katabira" in value.name %}

                <div class="" style="margin-left: 15px; margin-right: 15px">

                    <div style="padding: 30px" class="table-item">
                        <br>
                        <h4>{{ value.name }}</h4>
                        {% comment %}<img width="290px"
                     height="220px"
                     src="https://katakata.org/wp-content/uploads/2019/09/WhatsApp-Image-2019-08-29-at-20.43.26.jpeg"
                     alt="">{% endcomment %}
                        <span></span>
                        <ul>
                            <li>{{ value.description }}</li>
                        </ul>
                    </div>
                </div>

            {% else %}

                <div class="col-md-4 col-sm-6">
                    <div style="padding: 30px" class="table-item">
                        <br>
                        <h4>{{ value.name }}</h4>
                        {% comment %}<img width="290px"
                     height="220px"
                     src="https://katakata.org/wp-content/uploads/2019/09/WhatsApp-Image-2019-08-29-at-20.42.44.jpeg"
                     alt="">{% endcomment %}
                        <span></span>
                        <ul>
                            <li>{{ value.description }}<br><br>
                            </li>

                        </ul>
                    </div>
                </div>

            {% endif %}


        {% endfor %}


    </div>


</div>


<footer>
    <div class="container-fluid">
        <div class="col-md-12">
            <p>Kata Kata
                | African Cartoons</p>
        </div>
    </div>
</footer>


<!-- Modal button -->
<div class="popup-icon">
    <br>
    <button style="background-color: red; margin-left: 20px; color: white; width: 50px; height: 60px"
            onclick="history.back()">Back
    </button>
</div>

<!-- Modal -->
<div style="background: black" id="modal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h3 class="header-title">Talk to us at <em>Kata Kata</em></h3>
            <div class="close-btn"><img src="{% static 'assets/one/img/close_contact.png' %}" alt=""></div>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'teampage' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..."
                                       required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input name="email" type="email" class="form-control" id="email"
                                       placeholder="Your email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message"
                                          placeholder="Your message..." required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                {#                                <button type="submit" id="form-submit" class="btn">Send Message Now</button>#}
                                <button type="" id="" class="">Send Message Now</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'assets/one/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="{% static 'assets/one/js/plugins.js' %}"></script>
<script src="{% static 'assets/one/js/main.js' %}"></script>

</body>
</html>